{% extends "plantilla.html" %}
{% load static %}
{% block title %}Agregar Repuesto{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="form-container">
        <div class="form-header">
            <h3>Agregar Repuesto</h3>
        </div>
        <form action="/guardarRepuesto/" method="post" enctype="multipart/form-data" id="frm_nuevo_repuesto">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="nombre_rep">Nombre:</label>
                    <input type="text" name="nombre_rep" id="nombre_rep" class="form-control" placeholder="Ingrese nombre del repuesto" required
                           data-parsley-required-message="Por favor ingrese el nombre del repuesto"
                           data-parsley-minlength="2"
                           data-parsley-minlength-message="El nombre debe tener al menos 2 caracteres">
                </div>
                <div class="form-group col-md-6">
                    <label for="precio_rep">Precio:</label>
                    <input type="text" name="precio_rep" id="precio_rep" class="form-control" placeholder="Ingrese precio" required
                           data-parsley-required-message="Por favor ingrese el precio del repuesto"
                           data-parsley-pattern="^\d+([.,]\d{1,2})?$"
                           data-parsley-pattern-message="El precio debe tener un máximo de 4 dígitos y hasta 2 decimales, usando punto o coma como separador decimal."
                           oninput="this.value = this.value.replace(/[^0-9.,]/g, '').replace(/(\..*)\./g, '$1').replace(/(,.*),/g, '$1');">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="marca_rep">Marca:</label>
                    <input type="text" name="marca_rep" id="marca_rep" class="form-control" placeholder="Ingrese la marca" required
                           data-parsley-required-message="Por favor ingrese la marca del repuesto"
                           data-parsley-pattern="^[a-zA-Z\s]+$"
                           data-parsley-pattern-message="Solo se permiten letras y espacios"
                           data-parsley-minlength="2"
                           data-parsley-minlength-message="La marca debe tener al menos 2 caracteres">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="id_rep">Código Producto:</label>
                    <input type="text" name="id_rep" id="id_rep" class="form-control" placeholder="Ingrese un código producto" required
                           data-parsley-required-message="Por favor ingrese el código del producto">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="descripcion_rep">Descripción:</label>
                    <input type="text" name="descripcion_rep" id="descripcion_rep" class="form-control" placeholder="Ingrese una descripción" required
                           data-parsley-required-message="Por favor ingrese una descripción"
                           data-parsley-minlength="5"
                           data-parsley-minlength-message="La descripción debe tener al menos 5 caracteres">
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/verRepuesto" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<style media="screen">
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.form-header {
    background-color: #004ba6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px;
}

.form-footer {
    text-align: center;
    padding-top: 10px;
}

.form-group {
    margin-bottom: 26px;
}

.form-group label {
    font-weight: bold;
    font-size: 18px;
}

.form-group input {
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.form-group input::placeholder {
    text-decoration: none;
}
</style>
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<script>
  $(document).ready(function() {
      $('#frm_nuevo_repuesto').parsley({
          messages: {
              // Mensajes personalizados para todos los campos
              "nombre_rep": {
                  required: "Por favor ingrese el nombre del repuesto",
                  pattern: "Solo se permiten letras y espacios",
                  minlength: "El nombre debe tener al menos 2 caracteres"
              },
              "precio_rep": {
                  required: "Por favor ingrese el precio del repuesto",
                  pattern: "El precio debe tener un máximo de 4 dígitos y hasta 2 decimales, usando punto o coma como separador decimal."
              },
              "marca_rep": {
                  required: "Por favor ingrese la marca del repuesto",
                  pattern: "Solo se permiten letras y espacios",
                  minlength: "La marca debe tener al menos 2 caracteres"
              },
              "descripcion_rep": {
                  required: "Por favor ingrese una descripción",
                  minlength: "La descripción debe tener al menos 5 caracteres"
              },
              "id_rep": {
                  required: "Por favor ingrese el código del producto"
              }
          },
          errorClass: "text-danger"
      });

      $('#frm_nuevo_repuesto').on('submit', function(e) {
          let precioInput = $('#precio_rep');
          let precioValue = precioInput.val().replace(',', '.');
          if (isNaN(precioValue) || !/^\d+(\.\d{1,2})?$/.test(precioValue)) {
              e.preventDefault();
              alert("Por favor ingrese un número válido con hasta 2 decimales.");
          } else {
              precioInput.val(precioValue);
          }
      });
  });
</script>
{% endblock %}
